:root{
    --background: #000000;
    --white: #ffffff;
    --text-gradient-bg: rgb(0,255,179);
    --text-gradient-1: linear-gradient(
        90deg, 
        rgba(0,255,179,1) 0%, 
        rgba(135,75,255,1) 43%, 
        rgba(255,255,255,1) 100%
        );
    --btn-bg : #2f80ed;
    --text-gradient-2: linear-gradient(
        90deg, 
        rgba(0,255,179,1) 0%, 
        rgba(135,75,255,1) 100%, 
        rgba(255,255,255,1) 0%
        );
    --card-border: #252323;
}